<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nishant eAcademy</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='css/login_css.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        class="site_logo"
        src="{{ url_for('static', path='images/Logo.png')}}"
        alt="Nishant-eAcademy Logo"
      />
    </header>
    <div class="button_container">
      <button id="loginBtn">Login</button>
      <button id="signUpBtn">Sign-Up</button>
    </div>
    <div class="login-form">
      <h2>Login</h2>
      <form>
        <label for="login-phone-number">Phone Number</label>
        <input type="tel" id="login-phn-num" name="login-phn-num" required />

        <label for="login-password">Password</label>
        <input
          type="password"
          id="login-password"
          name="login-password"
          required
        />

        <button type="submit">Login</button>
      </form>
    </div>
    <div class="sign-up-form">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name" id="first-name" required />

      <label for="last-name">First Name</label>
      <input type="text" name="last-name" id="last-name" required />

      <label for="phone-number">Phone Number</label>
      <input type="tel" id="phn-num" name="phn-num" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <label for="confirm-password">Password</label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        required
      />

      <label for="state">State</label>
      <input type="text" name="state" id="state" required />

      <button type="submit">Sign-Up</button>
    </div>
    <script src="{{url_for('static', path='js/Login_SignUp.js')}}"></script>
  </body>
</html>
